div.simple-linear {
    background: linear-gradient(blue, pink);
}

div.diagonal-gradient {
    background: linear-gradient(to bottom right, rgb(120, 239, 212), rgb(186, 77, 208) );
}

div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

div.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}